@model Track.Models.TransactionItem
@using HtmlHelpers.BeginCollectionItem

@{
    Layout = null;
}




<tr>
    @using (Html.BeginCollectionItem("TransactionItems"))
    {
        <td>
            @Html.HiddenFor(model => model.TransactionItemId)
            @Html.HiddenFor(model => model.TransactionId)
            @Html.EditorFor(model => model.Item)
        </td>
        <td>
            @Html.EditorFor(model => model.Price)
        </td>        
        <td>
            <a href="#" onclick="$(this).parent().parent().remove();">Delete</a>
        </td>    
    }
</tr>
